#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Shared.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER=myflutterportfolio.dev
CFBundleName=My Flutter Portfolio Debug
FLUTTER_TARGET=lib/main.dart
PROVISIONING_PROFILE_SPECIFIER=My Flutter Portfolio Dev
CODE_SIGN_IDENTITY=iPhone Developer
